<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toner.module_01" >

    <application
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".ShowImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
